################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XiNghiep/bin/Debug/net8.0
/XiNghiep/obj
/.vs
